* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: "Karla", sans-serif;
  background-color: #fafaf8;
  padding: 0;
  margin: 0;
}
